<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.placediscovery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.HomePageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ChooseCity"
            android:label="@string/app_name"/>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".ui.activity.SignupActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnchanged" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.activity.ContentActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateUnchanged"/>
        <activity
            android:name=".ui.activity.MapsActivity"
            android:label="@string/title_activity_maps"/>
        <activity
            android:name=".ui.activity.UserTestActivity"

            android:label="@string/title_activity_user_test"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />



        <!--<activity-->
        <!--android:name="com.facebook.FacebookActivity"-->
        <!--android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
        <!--android:label="@string/app_name"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <activity
            android:name=".ui.activity.addingPlace.AddPlaceSelectCity"
            android:label="@string/title_activity_add_place"/>
        <activity
            android:name=".ui.activity.addingPlace.AddPlaceMapsActivity"
            android:label="@string/title_activity_add_place"/>
        <activity
            android:name=".ui.activity.addingPlace.AddPlaceContent"
            android:label="@string/title_activity_add_place"/>
        <activity
            android:name=".facebook.FacebookBaseActivity"
            android:label="@string/title_activity_facebook_base"/>


    </application>


</manifest>
